h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
}

span {
    font-size: 1rem;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 20px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section{
    scroll-margin-top: 15vh;
}

.aboutme {
    margin-top: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.project{
    z-index: 1;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.project-img-container{
    margin-top: auto;
}

.slider{
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.skills-text{
    color: #0a2744;
}
.footer {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(29, 26, 26);
    color: white;
}

.glass-efect{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(5px);
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin: 0;
}

.navbar-fix {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    background-color: rgb(9, 45, 54)
}

.dev-icon{
    background-color: #3f7686;
    border-radius: 50%;
    padding: 3px;
    font-size: 1.16rem;
}
.link {
    color: white;
    text-decoration: none;
}

.logo {
    border-radius: 50%;
}

.copy-to-clipboard {
    color: rgb(182, 193, 253);
}

.carousel-img {
    width: 100%;
    height: auto;
}

.carousel-responsive{
    width: 100%;
    height: auto;
    max-width: 800px;
}

.skills-img{
    width: 55px;
}

.footer-item{
    display: inline;
    align-items: center;
    justify-content: center;
}

.contact-column-res{
    display: flex;
    flex-direction: column;
}

/* BREAKPOINTS */
/* XSMALL DEVICES */
@media screen and (max-width: 400px) {
    body {
        font-size: 14px;
    }
    .footer-responsive{
        align-items: center;
        justify-content: center;
    }
    .contact-column-res{
        align-items: center;
        justify-content: center;
    }
    .aboutme{
        margin-left: 3em;
        margin-right: 3em;
    }
    .hi{
        height: auto;
        width: 15px;
    }
}
/* SMALL DEVICES */
@media screen and (min-width:400px) and (max-width: 767.99px) {
    body {
        font-size: 14px;
    }
    .footer-responsive{
        align-items: center;
        justify-content: center;
    }
    .contact-column-res{
        align-items: center;
        justify-content: center;
    }
    .aboutme{
        margin-left: 3em;
        margin-right: 3em;
    }
    .hi{
        height: auto;
        width: 25px;
    }
}
/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023.99px){
    body {
        font-size: 16px;
    }
    .contact-column-res{
        align-items: start;
        justify-content: start;
    }
    .aboutme{
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .hi{
        height: auto;
        width: 30px;
    }
}

@media screen and (max-width: 404.99px){
    .carousel-min-height{
        min-height: 400px;
    }
}

@media screen and (min-width: 405px) and (max-width: 576px){
    .carousel-min-height{
        min-height: 370px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
    .carousel-min-height{
        min-height: 230px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.99px){
    .carousel-min-height{
        min-height: 230px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1023.99px){
    .carousel-min-height{
        min-height: 150px;
    }
}
/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1199.99px){
    body {
        font-size: 17px;
    }
    .aboutme{
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .footer-responsive{
        align-items: start;
        justify-content: start;
    }
    .contact-column-res{
        align-items: start;
        justify-content: start;
    }
    .hi{
        height: auto;
        width: 30px;
    }
    .carousel-min-height{
        min-height: 150px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 17px;
    }
    .aboutme{
        margin-left: 15rem;
        margin-right: 15rem;
    }
    .footer-responsive{
        align-items: start;
        justify-content: start;
    }
    .contact-column-res{
        align-items: start;
        justify-content: start;
    }
    .hi{
        height: auto;
        width: 30px;
    }
    .carousel-min-height{
        min-height: 150px;
    }
}